<html>
	<head>
	<script type ="text/javascript" src ="angular.js"></script>
	<script type ="text/javascript" src ="demo.js"></script>

	</head>
	<body ng-app = "app" ng-controller="demoController">


	<div>{{name}}</div>
	<button ng-click='sayHello()'></button>
	<h1>{{greeting}}</h1>
			<!-- ng-class="{red: clor=='red', blue: color=='blue', comic: font=='comic'}"> -->
<!-- 	<h1>{{'Hello ' + 'World'}}</h1>
	<input ng-model="numberA" type="number">
	<input ng-model="numberB" type="number"> -->
	
<!-- 
	<p> {{numberA}} + {{numberB}} = {{numberA + numberB}} </p>
	<p> {{numberA}} - {{numberB}} = {{numberA - numberB}} </p>
	<p> {{numberA}} * {{numberB}} = {{numberA * numberB}} </p>
	<p> {{numberA}} / {{numberB}} = {{numberA / numberB}} </p> -->






	<!-- <input ng-model='firstName'/> -->
	<!-- {{firstName}} -->

	<!-- <p style="color:{{color}}">There are {{color}} seconds in a century</p> -->
	<!-- <input ng-model="age" type="date">{{}}</p> -->

<!-- <a href="" ng-click="tab='home'">Home</a>
<a href="" ng-click="tab='about'">About</a>

<h1>{{tab}}</h1>

	<div ng-show="tab=='Home'">Home content. Wooo!

	</div>

	<div ng-show="tab=='About'"> ABout content. Woooo!

	</div>

<input ng-model="profilePic" type="url"/>
<p ng-show='profilePic'>{{profilePic}}</p>
<img src="profilePic"> -->



	</body>
</html>